.pointer {
  cursor: pointer;
}

.tableContainer {
  background-color: #1e1a1d;
  height: 100vh;

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-column-position,
  .mat-column-name,
  .mat-column-weight,
  .mat-column-symbol {
    width: 25%;
  }
}
